#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-0 .navbar-nav .btn {
  font-size: 20px;
}
#msg-box3-j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-4 .navbar-toggler {
  color: #000;
}
#ext_menu-4 .navbar-nav .btn {
  font-size: 20px;
}
#header2-5 .btn {
  font-size: 30px;
}
#msg-box1-6 H2 {
  color: #000000;
}
#msg-box3-k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-k .mbr-header .mbr-header__subtext {
  text-align: center;
}
